{% ckan_extends %}

{% block styles %}
  {{ super() }}
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Rubik" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif" rel="stylesheet">
  <link rel="stylesheet" href="/default.min.css" type="text/css">

  {% set primary_colour = bf2026 %}
  {% set hover_colour = FFFFFF %}
  {% set hero_image_url = "https://storage.googleapis.com/thedataplace-datoscontraelruid/foto_home.jpg" %}

  <style>
    .btn.btn-primary {
        background: {{ primary_colour }};
        border-color: {{ primary_colour }};
    }
    .btn.btn-primary:hover,
    .btn.btn-primary:focus {
        background: {{ hover_colour }};
        border-color: {{ hover_colour }};
    }
    .module-heading {
        color: {{ primary_colour }};
    }
    a,
    .editor .editor-info-block a {
        color: {{ primary_colour }};
    }
    .editor .editor-info-block a:hover,
    .editor .editor-info-block a:focus,
    a:hover {
        color: {{ hover_colour }};
    }
    header.navbar.navbar-static-top.masthead .nav > li a:before {
        background: {{ primary_colour }};
    }
    .filters .filter-title {
        border-color: {{ primary_colour }};
    }
    header.navbar.navbar-static-top.masthead .nav>li.active a:before,
    .filters .nav-item.active >a >span:nth-of-type(2) {
        background: {{ primary_colour }};
    }
    .pill, .tag, a.tag {
        background: {{ primary_colour }};
    }
    .filters .module-heading {
        color: {{ primary_colour }};
    }
    {% if hero_image_url %}
    .hero {
        background-image: url({{ hero_image_url }});
    }
    {% endif %}
  </style>
{% endblock %}
